@charset "UTF-8"

$colors-list: [#db2044, #e233b8], [#3fff7c, #3ffbe0], [#6b2cf5, #d450e6], [#2f80ff, #3ccbff], [#ff4ba7, #ffda64], [#a1ffd9, #f3ff77], [#6f085a, #c51c53], [#fe3d6c, #fc9995], [#78DFF2, #f2b5d4], [#12c2e9, #f6af59], [#007991, #68dac7], [#d96113, #fed046]

*
    box-sizing: border-box

body
    width: 100%
    height: 100vh
    margin: 0
    padding: 0
    display: flex
    align-items: center
    justify-items: center
    justify-content: center
    background-image: url(../img/bg-login2940x1960.jpg)
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    font-family: Verdana, Geneva, Tahoma, sans-serif !important

header
    height: 10%
    font-family: arial !important
    font-weight: bold
    color: white
    text-align: center
    line-height: 50px
    font-size: 25px

input
    color: white

    /* Input date */
    &[type=date]
        &::-webkit-datetime-edit-text,
        &::-webkit-datetime-edit-month-field,
        &::-webkit-datetime-edit-day-field,
        &::-webkit-datetime-edit-year-field
            color: transparent
            appearance: none

        &:focus, &:valid
            &::-webkit-datetime-edit-text,
            &::-webkit-datetime-edit-month-field,
            &::-webkit-datetime-edit-day-field,
            &::-webkit-datetime-edit-year-field
                color: white !important
                appearance: auto !important

    /* Input submit */

    &[type=submit]
        background-color: white !important
        color: rgba(100, 100, 100, 0.7)
        font-weight: bold
        border: none
        border-radius: 2px
        padding: .5rem 2.7rem
        text-transform: uppercase

    &[type=radio]

/* Table's row --------------------------------------------*/
.row
    &:nth-child(2n+1)
        background-color: #e1e0e7

    &:hover
        background-color: #d6d5df
        cursor: pointer

/* Scroll --------------------------------------------*/
.default-scroll
    vertical-align: top
    overflow: auto

    &::-webkit-scrollbar
        width: 8px

    &::-webkit-scrollbar-thumb
        background-color: rgba(255, 255, 255, 0.3)
        border-radius: 5px

        &:hover
            background-color: rgba(255, 255, 255, 0.7)

/* Modal --------------------------------------------*/
.container-modal
    width: 100vw
    height: 100vh
    background-color: rgba(0, 0, 0, 0.7)
    position: fixed
    top: 0
    z-index: 999
    display: none

    .modal
        width: 500px
        height: 500px
        margin-left: auto
        margin-right: auto
        background-color: #ffffff
        margin-top: 150px

/* Modal alert --------------------------------------------*/

// .container-modal-alert
//     position: fixed
//     top: 0
//     z-index: 999
//     color: rgba(255,255,255,.8)
//     display: none

//     &[data-toggle-modal=true]
//         display: flex !important

.modal-alert
    // display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    background-color: tomato
    margin-top: 10px
    padding: .5rem
    box-shadow: 0px 0px 5px 5px rgba(80, 80, 80, .2)
    position: fixed
    top: 0
    right: 0
    z-index: 999
    color: rgba(255,255,255,.8)
    display: none

    &[data-toggle-modal=true]
        display: flex !important

    h5
        margin: 1rem

    span
        background-color: rgba(255,255,255,.8)
        padding: .17rem 0rem
        position: absolute
        bottom: 0px
        left: 0px
        animation-name: example
        animation-duration: 6s

@keyframes example
  from {width: 0%}
  to {width: 100%}

/* Main content --------------------------------------------*/
.main-content
    width: 1000px
    height: 80vh
    display: flex
    position: relative
    justify-content: center
    align-items: center
    border-radius: 10px
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, .2)
    background: rgba(0, 0, 0, .1)
    backdrop-filter: blur(20px)
    overflow: hidden

/* Container Consulta */
.container-cadastro
    width: 50%
    padding: 1rem

    form
        color: white
        overflow: hidden

        span
            text-transform: uppercase
            font-size: smaller

        input,
        textarea,
        select
            outline: none
            border: none
            background-color: transparent
            text-transform: uppercase

            &::placeholder
                color: transparent

            &:focus
                &::placeholder
                    color: white

        textarea
            background-color: rgba(255,255,255, .2) !important
            margin-top: 5px
            overflow: auto
            color: white
            resize: none

        /* Campos de entradas do formulário */
        .form-inputs-field
            display: flex
            flex-direction: column
            height: auto

            .field-radio
                width: 100%
                display: flex
                align-items: center
                justify-content: space-between
                padding: 1rem
                font-size: smaller

                & input[type=radio]
                    position: absolute
                    opacity: 0

                    &:checked
                        & ~ label
                            background-color: white !important
                            color: rgba(100, 100, 100, 0.7)
                            font-weight: bold

                & label
                    padding: .5rem 1rem
                    border-radius: 2px
                    text-transform: uppercase
                    cursor: pointer
                    font-size: 12px

                    &:hover
                        background-color: white !important
                        color: rgba(100, 100, 100, 0.7)
                        font-weight: bold
                        transition: all 0.3s ease

            & .form-lbl
                position: absolute
                bottom: 0
                left: 0
                height: 100%
                width: 100%
                pointer-events: none
                margin: 0
                border-bottom: 1px solid white

                &::after
                    content: ""
                    position: absolute
                    left: 0px
                    bottom: -1px
                    height: 100%
                    width: 100%
                    border-bottom: 3px solid white
                    transform: translateX(-100%)
                    transition: transform 0.3s ease

                & span
                    position: absolute
                    bottom: 5px
                    left: 0px
                    text-transform: uppercase
                    transition: all 0.3s ease

.field-input
    width: 100%
    display: flex
    flex-direction: column
    position: relative
    margin-bottom: 1rem

    input
        padding-top: 1rem
        border: none
        background-color: transparent

        &[type=date]
            &::-webkit-calendar-picker-indicator
                filter: invert(100%)

        &:focus+label
            & span
                transform: translateY(-150%)
                font-size: .6rem

            &::after
                transform: translateX(0%)

        &:valid+label
            & span
                transform: translateY(-150%)
                font-size: .6rem

            &::after
                transform: translateX(0%)

    textarea
        resize: none
        line-height: 1

        &:focus+label span,
        &:valid+label span
            transform: translateY(-150%)
            font-size: 14px

        &:focus+label::after,
        &:valid+label::after
            transform: translateX(0%)

    select
        width: 100%
        cursor: pointer

        &:focus+label span,
        &:valid+label span
            transform: translateY(-150%)
            font-size: 14px

        &:focus+label::after,
        &:valid+label::after
            transform: translateX(0%)

.form-submit
    width: 100%
    display: flex
    flex-direction: row
    justify-content: space-between

/* Container Consulta */
.container-consulta
    height: 100%
    padding: 1rem

    main
        max-height: 88%
        overflow: auto

    table
        border: none

    td
        max-width: 130px
        text-overflow: ""
        white-space: nowrap
        overflow: hidden

    th
        text-transform: uppercase
        font-size: small
        font-family: Arial, Helvetica, sans-serif

    td,
    th
        padding: .5rem

    thead
        background-color: black
        padding: .5rem
        color: white

    .img
        color: rgba(0, 0, 0, 0.7)
        width: 24px
        height: 24px
        border-radius: 4px

        &:hover
            background-color: #8f8c9c
            padding: .3rem

@each $current-color in $colors-list
    $index: index($colors-list, $current-color)
    $first-color: nth($current-color, 1)
    $second-color: nth($current-color, 2)

    .bg-gradient#{$index}
        background-image: linear-gradient(to top right, $first-color, $second-color)
