*{
                
    /* border: none; */
    font-family: arial;

}

body, h2, h3, p{

    margin:0;
    padding:0;
}

div:not(.box-main){

    /*border: 1px solid black;*/
    font-size: 14.8px;
    box-sizing: border-box;
    /* background-color:#d4cfc6; */

}

.box-main{
    width: 80vw;
    height: 35vh;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.titulo{

    width: inherit;
    height:15%;
    align-items: center;
    display: flex;
    justify-content: center;
}

h2{
    font-size: 1.6em;
}

.resto{
    width: inherit;
    height: 85%;
    display: flex;
}

#box-calc{

    width:500px;
    height:251px;
    border-top: none;
    background-color: khaki;
}

#caixa-valores{

    width:50%;
    height: 100%;
    background-color:#eeeeff;
}

#saida{

    width: 50%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* background-color:#ffaaff; */

}

h3{
    color: black;
    font-size: 1.2em;
}

#titulo-resultado{

    align-items: center;
    display: flex;
    justify-content: center;
}

p{  
    font-size: 2em;
    /* background-color: gold; */
}

#caixa-texto{

    padding:3px;
    width:inherit;
    height:56px;
    box-sizing: border-box;
    justify-content: space-around;
    /*background-color:#d4cfdd;*/
}

.input{

    margin-bottom: 5px;
    /*border-style:inset;*/
    text-align: center;
}

#caixa-radio{

    padding:5px;
    width:inherit;
    height:87px;
    /*background-color:#d4ddc6;*/

}

#caixa-alert{

    padding:5px;
    text-align: center;
    width:inherit;
    height:31px;
    /*background-color:#ddcfc6;*/

}

#caixa-botao{

    padding:5px 0px 0px 90px;
    width:inherit;
    height:31px;
    /*background-color:#dddfc6;*/

}

#caixa-resultado{

    width: 189px;
    height: 158px;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: auto;
    background-color:white;
}

#btncal{

     /*border-style:outset;*/

}