*{
    font-family: Arial, Calibri,Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

body, h2, h3, p, form{

    margin:0;
    padding:0;
}

div:not(.box-main){

    font-size: 14.8px;
    box-sizing: border-box;
}

/**/

.box-main{
    width: 100vw;
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#box-calc{

    width: 36.60%;
    height: 38.20%;
    border: 1px solid royalblue;
    overflow: hidden;
    border-radius: 3px 3px;
}

.titulo{

    width: 100%;
    height:15%;
    align-items: center;
    background-color: royalblue;
    display: flex;
    justify-content: center;
}

h2{
    color:white;
    font-size: 1.6em;
}

.resto{
    width: 100%;
    height: 85%;
    display: flex;
    background-color:#eeeeff;
}

#caixa-valores{

    width:50%;
    height: 100%;
}

#caixa-texto{

    width:100%;
    height:26.4%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
}

#caixa-radio{

    width:100%;
    height:41%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    /* background-color:#d4ddc6; */

}

.div-rdo{
    display:flex;
    padding-left: 2%;
}

#caixa-alert{

    width:100%;
    height:14.6%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color:#ddcfc6; */

}

p:not(.box-err){
    width: 90%;
    text-align: center;
    font-size: 2em;
    word-wrap: break-word;
} 

#caixa-botao{

    width:100%;
    height:17.9%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color:#dddfc6;*/

}

#btncal{

    width: 95%;
    height: 80%;
    background-color: royalblue;
    color:white;
    font-size: 1.5em;
    border-radius: 3px;
    border: none;

}

#saida{

    width: 50%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}

h3{
    color: black;
    font-size: 1.2em;
}

#titulo-resultado{

    align-items: center;
    display: flex;
    justify-content: center;
}

input{
    text-align: center;
}   

#caixa-resultado{

    width: 75.6%;
    height: 74.1%;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: auto;
    background-color:white;
}