/*CSS*/


/*#####CSS PADRÃO#####*/
*{
    
    font-family: arial;
    
}

body, ul, h1, h2, h3, h4, h5, p{
	margin:0;
	padding:0;
}

.center{
    
    margin-left: auto;
    margin-right: auto;
    
}

/****************************************MENU***********************************/

header{
    width:100%;
    height:70px;
    display: block;
    overflow: hidden;
    position:fixed;
    top: 0;
    background-color:#003311;
    box-shadow: 2px 2px 10px 1px rgba(50, 50, 50, 0.80);
    box-sizing:border-box;
    z-index: 999;
}

#box-main-header{
    
    width:1552px;
    height: inherit;
    /*background-color: #fee0ee;*/
    
}

#menu{

    width:730px;
    height:55px;
    margin-top:8px;
    float: left;
    box-sizing:border-box;
    /*background-color:#f0dfff;*/
}

#menu ul{
    
    list-style-type: none;
    width:inherit;
    height:inherit;
    box-sizing:border-box;

}

#menu li{

    list-style:none;
    /*margin-right:1px;*/
    width: 16.6%;
    height: inherit;
    text-align: center;
    font-weight: bold;
    /*background-color: #eeeeaa;*/
    font-size:17px;
    float:left;
    box-sizing:border-box;
}

#menu a:hover {
    
    width: 100%;
    height: 40px;
    background-color: rgba(100, 100, 153, 0.3);
    color:white;
}

li a:link{
    width: 100%;
    height: 40px;
    display:inline-block;
    padding-top: 17px;
    text-decoration: none;
    color:white;
    
}

li a:visited{

    color:white;
    
}

#logo{
    
    width: 150px;
    height: inherit;
    margin: 0px 2% 0px 0px;
    overflow: hidden;
    box-sizing: border-box;
    float: left;
}

#imag-logo{
    
	width: 90px;
    height: 55px;
    padding: 8px 0px 0px 50px;
    background-position: left;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
}

#login{
    
    width: 426px;
    height: 55px;
    margin: 8px 0px 0px 10%;
    /*background-color: aliceblue;*/
    overflow: hidden;
    box-sizing:border-box;
    float: left;
}

.box-login{
    
    width: 213px;
    padding: 8px 0px 0px 5px; 
    height: 55px;
    /*background-color: aliceblue;*/
    font-weight: bold;
    color:white;
    display:block;
    box-sizing:border-box;
    float: left;
    
}

input{
    
    border: none;
}

#btnOk{
    
    font-weight: bold;
    color:white;
    border-radius: 2%;
    background-color: rgba(100, 100, 153, 0.3);
}

#box-slider{
    
    width:1550px;
    height: 597px;
    z-index: -1;
    background-color:gray;
}
/******************************************HOME*********************************/

.msg-slider{
    
    /*background-color: rgba(255,250,255,0.3);*/
    
}

#conteudo-catalogo{
    
    width: 1550px;
    min-height: 1000px;
    /*-webkit-box-shadow: 2px 2px 10px 5px rgba(50, 50, 50, 0.45);*/
    /*background-color: #f0f0f0;*/
    overflow: hidden;
    box-sizing: border-box;
    
}

#menu-catalogo{
    
    width:250px;
    min-height:1000px;
    /*background-color:rgba(102, 255, 153, 0.5);*/
    background-color:#ffaa00;
    overflow: hidden;
    float: left;
    
}

.itens-catalogo{
    
    width:inherit;
    height: 65px;
    list-style:none;
    text-align:center;
    margin-bottom:5px;
    padding:20px 15px 15px 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    font-size:17px;
    box-sizing:border-box;
    
}

.itens-catalogo:hover{
    
    /*transition: 0.5s;*/
/*    color:#ffbb33;
    */
    color:white;
/*    background-color:rgba(255, 255, 255, 255);*/
    background-color:#cc8800;
}

#box-catalogo{
    
    width: 1200px;
    min-height: 1000px;
    margin: 0px 100px 0px 0px;
    /*background-color: #ffefef;*/
    overflow:hidden;
    box-sizing: border-box;
    
}

.card-box{
    
    width:1200px;
    height: 490px;
    /*background-color: #fedede;*/
    box-sizing: border-box;
    
}

.card{
    
    width: 360px;
    height: 450px;
    margin: 20px 0px 0px 20px;
    /*background-color: #eeefff;*/
    box-shadow: 2px 2px 10px 1px rgba(50, 50, 50, 0.45);
    float:left;
    box-sizing: border-box;
    
}

.card:hover{
    
    width: 359px;
    height: 449px;
    border: 1px solid #c9c9c9;
    box-shadow:none;
    overflow: hidden;
}

.img-card{
    
    width: 300px;
    height: 261px;
    /*margin: 30px 65px 30px 65px;*/
    background-color: #feefee;
    box-sizing: border-box;
}

.nome-card{
    
    width:inherit;
    height: 47px;
    padding:6px 15px 0px 15px;
    /*background-color:#fedfff;*/
    overflow: hidden;
    text-align: center;
    box-sizing: border-box;
    
}

.desc-card{
    
    width:inherit;
    height: 48px;
    padding:6px 15px 0px 15px;
    /*background-color:#e0ffff;*/
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
}

.preco-card{
    
    width:inherit;
    height: 47px;
    padding:6px 15px 0px 15px;
    /*background-color:#ffffe0;*/
    font-size: 20px;
    font-weight: bold;
    color: #003311;
    overflow: hidden;
    box-sizing: border-box;
}

.detalhes{
    
    width:inherit;
    height: 47px;
    padding:6px 15px 0px 15px;
    background-color: white;
    text-align: right;
    overflow: hidden;
    cursor: pointer;
    box-sizing: border-box;
}

.detalhes a{
    
    padding: 10px;
    font-weight: bold;
    color:#e69900;
    
}

/***********************REDES********************/

#redes{
    
    width: 70px;
    height: 210px;
    margin-left:1555px;
    top: 40%;
    /*margin: 20% 0% 0% 91.5%;*/
    background-color: transparent;
    position:fixed;
    
}

.box-redes{
    
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: transparent;
}
/****************FOOTER**************************/
#footer{
    
    width: 100%;
    height: 170px;
    background-color: #003311;
    
}

.conteudo-footer{
    
    width: 387px;
    height: inherit;
    padding: 20px;
/*    background-color: #aaffea;*/
    overflow: hidden;
    float:left;
    word-wrap: break-word;
/*    text-transform:capitalize;*/
    box-sizing: border-box;
    
}

.conteudo-footer ul{
    
    font-size: 25px;
    color:white;
    text-align: left;
    text-decoration: none;
    list-style: none;
    
}

#main-footer{
    
    width: 1552px;
    height: 170px;
}

#conteudo{
    
    margin-top: 52px;
    width: 1552px;
    min-height: 1000px;
    max-height: inherit;
    box-shadow: 2px 2px 10px 5px rgba(50, 50, 50, 0.45);
    overflow: hidden;
    box-sizing: border-box;
    /*background-color: #0f0f0f;*/
}

#logo-footer{
    
    width: 100px;
    height: 65px;
    margin: 0px 0px 0px 250px;
    padding: 5px;
/*    background-color: #fefffe;*/
    overflow: hidden;
    box-sizing: border-box;
    
}

#imag-logo-footer{
    
    width: 90px;
    height: 55px;
    padding: 0px 0px 0px 0px;
    background-position: left;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
}

.titulo-footer{
    
    font-size: 25px;
    text-align: center;
    color: #ffffff;
    
}


/****************jssor slider loading skin spin css*****************/

.jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
    from { 
        transform: rotate(0deg); 
    }
    to { 
        transform: rotate(360deg); 
    }
}

/*jssor slider bullet skin 032 css*/
.jssorb032 {
    position:absolute;
}

.jssorb032 .i{
    position:absolute;
    cursor:pointer;
}

.jssorb032 .i .b {
    fill:#fff;
    fill-opacity:0.7;
    stroke:#000;
    stroke-width:1200;
    stroke-miterlimit:10;
    stroke-opacity:0.25;
}

.jssorb032 .i:hover .b {
    fill:#000;
    fill-opacity:.6;
    stroke:#fff;
    stroke-opacity:.35;
}

.jssorb032 .iav .b {
    fill:rgba(255,255,255,0.9);
    fill-opacity:1;
    stroke:#fff;
    stroke-opacity:.35;
}

.jssorb032 .i.idn {
    opacity:.3;
}

/*jssor slider arrow skin 051 css*/
.jssora051{
    display:block;
    position:absolute;
    cursor:pointer;
}

.jssora051 .a {
    fill:none;
    stroke:#fff;
    stroke-width:360;
    stroke-miterlimit:10;
}

.jssora051:hover {
    opacity:.8;
}

.jssora051.jssora051dn {
    opacity:.5;
}

.jssora051.jssora051ds {
    opacity:.3;
    pointer-events:none;
}

/*******************************FALE-CONOSCO********************************/

#main-fale-conosco{
    
    width: 600px;
    height: 805px;
    margin-top: 50px;
    font-weight: bold;
    border-radius: 5px 5px 5px 5px;
    /*background-color: #3f9;*/
    box-shadow: 2px 2px 4px 4px rgba(100, 100, 100,0.5);
    box-sizing: border-box;
    overflow: hidden;
}

#titulo-cadastro{
    
    width: inherit;
    height: 100px;
    padding: 25px 15px 15px 15px;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 25px;
    background-color: #003311;
    overflow: hidden;
    box-sizing: border-box;
    
}

.box_campos{
    
    height: 55px;
    background-color: white;
    overflow: hidden;
    box-sizing: border-box;
}

.box-label{
    
    width: 195px;
    height: inherit;
    padding: 10px 10px 10px 50px; 
    font-size: 20px;
    color: white;
    background-color: rgba(0,51,17,0.9);
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    
}

.box-text-cad{
    
    width: inherit;
    height: inherit;
    padding: 10px 10px 10px 10px;
    /*background-color: antiquewhite;*/
    text-align: center;
    /*color:#ffbb33;*/
    overflow: hidden;
    box-sizing: border-box;
    
}

.input-fale-conosco{
    
    width: 350px;
    height: 35px;
    text-align: center;
    border-radius: 2px 2px;
    border: 1px solid #ffaa00;
    
}

.campo-obs{
    
    width: inherit;
    height: 155px;
    padding: 0px;
/*    background-color:#f00;*/
    overflow: hidden;
    box-sizing: border-box;
    
}

#box-textarea{
    
    width: 405px;
    height: 155px;
    padding: 10px;
    text-align: center;
/*    background-color: #ffa;*/
    float: right;
    overflow: hidden;
    box-sizing: border-box;
    
}

textarea{
    
    width: 350px;
    height: 135px;
    padding: 10px;
    border: 1px solid #ffaa00;
    border-radius: 5px 5px 5px 5px;
    overflow-y:auto;
    box-sizing: border-box;
}

#box-buttons{
    
    width: inherit;
    height: 50px;
    /*background-color: #f9f999;*/
    overflow: hidden;
    box-sizing: border-box;
    
}

.box-btn{
    
    width: 50%;
    height: inherit;
    text-align: center;
    padding: 10px 10px 10px 10px;
    /*background-color: #ffe;*/
    float: left;
    overflow: hidden;
    box-sizing: border-box;
}

.btn-fale-conosco{
    
    width: 100px;
    height: 30px;
    color:white;
    background-color: rgba(0,51,17,0.9);
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px 5px 5px 5px;
    
}

/**************************Sobre a Empresa***********************************/

.main-sobre{
    width:50%;
    height:333px;
    background-color:#fff;
    text-align: justify;
    float: left;
    color:#eda921;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 19px;
    font-weight: bold;
    
}

.main-sobre::first-letter{
    
    font-family:serif;
    font-size: 30px;
    font-weight: bold;
    
}

.main-sobre::first-line{
    
    margin-left: 20px;
}

.box-img-sobre{
    
    width:776px;
    height:334px;
    position:absolute;
    background-color:rgba(255, 187, 51,0.4);
}

.img-sobre{
    
    width:776px;
    height:334px;
    background-position: left;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
}

/****************************DESTAQUES*****************************/


#principais-noticias{
    
    width: inherit;
    height: 400px;
    padding: 7px 0px 0px 8px;
/*    background-color: #efaf9f;*/
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
    overflow: hidden;
}

.box-noticia{
    
    width:512px;
    height: 385px;
/*    background-color: #9faaef;*/
    float: left;
    overflow: hidden;
    box-sizing: border-box;
}

.img-main-noticia{
    
    width:512px;
    height: 385px;
    background-position: center;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
    
}

.img-noticia-conteudo{
    
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
    
}

.box-noticia-titulo{
    
    width:512px;
    height: 385px;
    color:white;
    text-align: center;
    font-weight: bold;
    padding: 20px;
    line-height: 70px;
    font-size: 35px;
    float: left;
    word-wrap: break-word;
    position:absolute;
    margin: -389px 0px 0px 0px;
    background-color:rgba(255,187,51,0.5);
    text-transform:capitalize;
    box-sizing: border-box;
    overflow: hidden;
    
}

.box-noticia a{
    
    width:512px;
    height: 385px;
    
}

.box-noticia-titulo:hover {
    
    width: 512px;
    height: inherit;
/*    margin-top: -404px;*/
    background-color:rgba(255,187,51,0.7);
    /*background-color: aqua;*/
}

.noticias{
    
    width: inherit;
    height: 228px;
    padding: 15px 10px 10px 19px;
    /*background-color: #efffff;*/
    box-sizing: border-box;
    overflow: hidden;

}

.conteudo-noticia{
    
    width:1512px;
    height: 202px;
/*    background-color: #efeffe;*/
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
    overflow: hidden;
}

.conteudo-noticia:hover{
    
    box-shadow: 2px 2px 10px 1px rgba(50, 50, 50, 0.55);
    
}

.conteudo-noticia:hover>.text-noticia{
    
    border-right: 4px solid #33ff77;
    
}

.box-img-noticia{
    
    width: 350px;
    height: inherit;
/*    background-color: aliceblue;*/
    box-sizing: border-box;
    overflow: hidden;
    float: left;
}

.text-noticia{
    
    width: 1160px;
    height: inherit;
    /*background-color: #feeeEf;*/
    text-align: center;
    padding: 20px 20px 20px 20px;
    font-size: 25px;
    text-transform:uppercase;
    overflow: hidden;
    box-sizing: border-box;
}

.formatacao-titulo-noticia{
    
    text-transform:capitalize;
    color: #003311;
    
}

.links-noticia:link{
    
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.links-noticia:visited{
    
    color: black;
}

/*********************************PROMOÇÕES**********************************/

#box-catalogo-promo{
    
    width: inherit;
    min-height: 1000px;
    margin: 0px 100px 0px 0px;
    /*background-color: #ffefef;*/
    overflow:hidden;
    box-sizing: border-box;
    
}

.card-box-promo{
    
    width:inherit;
    height: 490px;
    /*background-color: #fedeee;*/
    overflow: hidden;
    box-sizing: border-box;
    
}

.card{
    
    width: 360px;
    height: 450px;
    margin: 20px 0px 0px 20px;
    /*background-color: #eeefff;*/
    box-shadow: 2px 2px 10px 1px rgba(50, 50, 50, 0.45);
    float:left;
    overflow: hidden;
    box-sizing: border-box;
    
}

.img-card{
    
    width: 300px;
    height: 261px;
    /*margin: 30px 65px 30px 65px;*/
    background-color: #feefee;
    box-sizing: border-box;
}

.box-img-card{
    
    width: 360px;
    height: 261px;
    background-color: #f99f99;
    position:absolute;
    margin: -265px 0px 0px -30px;
    padding: 30px 0px 0px 0px;
    background-color:rgba(0,51,17,0.9);
    color: rgba(255,255,255,0.8);
    font-weight: bold;
    letter-spacing: -10px;
    text-align: center;
    font-size: 170px;
    box-sizing: border-box;
    overflow: hidden;
    visibility: collapse;
    opacity: 1;
    
}

.card:hover .box-img-card{
    
    visibility:visible;
    transition: 2s;
    opacity: 0;
}

.nome-card{
    
    width:inherit;
    height: 47px;
    padding:6px 15px 0px 15px;
    /*background-color:#fedfff;*/
    overflow: hidden;
    text-align: center;
    box-sizing: border-box;
    
}

.desc-card{
    
    width:inherit;
    height: 48px;
    padding:6px 15px 0px 15px;
    /*background-color:#e0ffff;*/
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
}

.preco-card-promo{
    
    width:inherit;
    height: 47px;
    padding:6px 15px 0px 15px;
    /*background-color:#ffffe0;*/
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #003311;
    /*overflow: hidden;*/
    box-sizing: border-box;
}

.text-promo{
    
    text-decoration:line-through;
    color: #e69900;
}

.titulo-promo{
    
    
    font-size: 90px;
    background-color:#e69900;
    text-align:center;
    letter-spacing: -8px;
    padding: 20px 0px 0px 0px;
    color:white;
    box-sizing: border-box;
    overflow: hidden;
}

/**************************NOSSAS LOJAS*************************/

.container-lojas{
    
    width: inherit;
    height: 350px;
    padding: 19px 19px 19px 19px;
/*    background-color: #efffff;*/
    box-sizing: border-box;
    overflow: hidden;

}

.conteudo-container-loja{
    
    width:1513px;
    height: 315px;
/*    background-color: #efeff0;*/
    box-sizing: border-box;
    overflow: hidden;
}

.conteudo-container-loja:hover{
    
    box-shadow: 2px 2px 10px 1px rgba(50, 50, 50, 0.55)
}

.conteudo-container-loja:hover>.text-noticia-loja{
    
    border-left: 4px solid #33ff77;
    
}

.text-noticia-loja{
    
    width: 1000px;
    height: inherit;
/*    background-color: #feeeEf;*/
    text-align: center;
    padding: 20px 20px 20px 20px;
    font-size: 25px;
    text-transform:uppercase;
    overflow: hidden;
    box-sizing: border-box;
    float: left;
}

.titulo-lojas{
    
    text-transform:capitalize;
    color: #003311;
    
}

.mapouter{
    position:relative;
    text-align:right;
    height:inherit;
    width:350;
    box-sizing: border-box;
    overflow: hidden;
}

.gmap_canvas{

    overflow:hidden;
    background:none!important;
    height:100%;
    width:100%;
}

/*********************************EVENTOS**************************/

.container-evento{
    
    width:inherit;
    height: 450px;
/*    background-color: #fafee0;*/
    margin: 35px 0px 0px 0px;
    overflow: hidden;
    box-sizing: border-box;
    
    
}

.box-evento{
    
    width:776px;
    height: inherit;
/*    background-color: #eeafaf;*/
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    
}

.box-img-evento{
    
    width: 500px;
    height: 350px;
    background-color: #eeefff;
    overflow: hidden;
    box-sizing: border-box;
    
}

.texto-evento{
    
    width: 500px;
    height: 100px;
    background-color: #affaaf;
    overflow: hidden;
    box-sizing: border-box;
    
}

.img-evento{
    
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
    
}